<div data-ll-modal data-window-class="full create-milestone">
    <div class="row">
        <div class="hide-for-large-up medium-12 small-12 columns mobile-header">
            <h5>
                <i class="fa fa-chevron-left" data-ng-click="modal.close()">&nbsp;</i>
                New Milestone
            </h5>
        </div>
        <div class="hide-for-large-up medium-12 small-12 columns" style="height: 50px;"></div>
        <div class="large-9 medium-12 small-12 columns hide-for-medium-down">
            <h3>New Milestone</h3>
        </div>
        <form novalidate name="milestoneForm" data-ng-submit="createMilestone()">
            <div class="large-9 medium-12 small-12 columns">
                <input type="hidden"
                       name="project_id"
                       data-ng-model="milestone.project_id">
                <input data-ng-class="{ 'error' : milestoneForm.title.$invalid && !milestoneForm.title.$pristine}"
                       name="title"
                       type="text"
                       placeholder="Title"
                       required
                       data-ng-model="milestone.title" autofocus>
                <small class="error"
                       data-ng-show="milestoneForm.title.$invalid && !milestoneForm.title.$pristine">
                    This Field is required
                </small>
                <md-editor description="newCard.description" rows="10"></md-editor>
                <button class="button right" type="submit" data-ng-disabled="milestoneForm.$invalid || isSaving">
                    Create
                </button>
            </div>
            <div class="large-3 medium-3 small-3 columns hide-for-medium-down">
                <datepicker date-format="yyyy-MM-dd">
                    <input placeholder="Due Date" data-ng-model="milestone.due_date" type="text"/>
                </datepicker>
            </div>
        </form>
    </div>
</div>
