<section id="main-section">
    <div class="row">
        <fieldset>
            <div class="columns small-12">
                <h3>Configure lanes</h3>
                <hr/>
            </div>
            <div class="columns small-12">
                <div class="row">
                    <div class="columns small-2">
                        <h5>Order</h5>
                    </div>
                    <div class="columns small-4">
                        <h5>Stage name</h5>
                    </div>
                    <div class="columns small-4"></div>
                </div>
                <div class="row" data-ng-repeat="(index,stage) in stages">
                    <form novalidate name="stageForm">
                        <div class="columns small-2">
                            <input required="required" type="number" data-ng-model="stage.index">
                        </div>
                        <div class="columns small-4">
                            <input required="required" type="text" data-ng-model="stage.viewName">
                        </div>
                        <div class="columns small-4 end">
                            <button data-ng-disabled="stageForm.$invalid || saving"
                                    data-ng-show="stage.id"
                                    class="button tiny"
                                    data-ng-click="update(stage)">Update</button>
                            <button data-ng-disabled="stageForm.$invalid || saving"
                                    data-ng-show="!stage.id"
                                    class="button tiny"
                                    data-ng-click="create(index, stage)">Create</button>
                            <button data-ng-disabled="saving" class="button tiny alert" data-ng-click="delete(index, stage)">Delete</button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="columns medium-12">
                        <button class="button tiny success" data-ng-click="add()">
                            Add new stage
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    <div class="row">
        <fieldset>
            <div class="small-12 columns">
                <h3>Configure priorities</h3>
                <hr/>
            </div>
            <div class="small-12 columns">
                <div class="row">
                    <div class="small-2 columns">
                        <h5>Order</h5>
                    </div>
                    <div class="small-4 columns">
                        <h5>Priority name</h5>
                    </div>
                    <div class="small-2 columns">
                        <h5>Color</h5>
                    </div>
                    <div class="small-6 columns"></div>
                </div>
                <div class="row" data-ng-repeat="priority in priorities">
                    <form novalidate name="priorityForm">
                        <div class="small-2 columns">
                            <input required="required" type="number" data-ng-model="priority.index">
                        </div>
                        <div class="small-4 columns">
                            <input required="required" type="text" data-ng-model="priority.viewName">
                        </div>
                        <div class="small-1 columns">
                            <input required="required" type="color" data-ng-model="priority.color">
                        </div>
                        <div class="small-5 columns">
                            <button class="button tiny"
                                    data-ng-show="!isEmpty(priority.name)"
                                    data-ng-disabled="priorityForm.$invalid || saving"
                                    data-ng-click="updatePriority(priority)">
                                Update
                            </button>
                            <button class="button tiny"
                                    data-ng-show="isEmpty(priority.name)"
                                    data-ng-disabled="priorityForm.$invalid || saving"
                                    data-ng-click="createPriority(priority)">
                                Create
                            </button>
                            <button class="button tiny alert"
                                    data-ng-disabled="saving"
                                    data-ng-click="deletePriority(priority)">
                                Delete
                            </button>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <button class="button tiny success"
                                data-ng-click="addPriority()">
                            Add new priority
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

</section>
